@import 'image-board'
@import 'panels'
body
  margin 0
.appbar
  position absolute
.appbar-fileinput
  cursor pointer
  position absolute
  z-index 1000
  top 0
  bottom 0
  right 0
  left 0
  width 100%
  opacity 0
